html{
    height: 1969px;
}


.head-button-main{
    position: absolute;
    width: 59px;
    height: 19px;
    left: 671px;
    top: 52px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    transition: 0.5s;
}
.head-button-main:hover{
    transform: scale(1.1);
    color: #b4b4b4;
}

.head-button-instructions{
position: absolute;
width: 94px;
height: 19px;
left: 772px;
top: 52px;
transition: 0.5s;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-transform: capitalize;
color: #7759F3;
}

.head-button-sborka{
    position: absolute;
    width: 58px;
    height: 19px;
    left: 905px;
    top: 52px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    transition: 0.5s;
}
.head-button-sborka:hover{
    transform: scale(1.1);
    color: #b4b4b4;
}

.head-button-kontakt{
position: absolute;
width: 73px;
height: 19px;
left: 1001px;
top: 52px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-transform: capitalize;
transition: 0.5s;
}
.head-button-kontakt:hover{
    transform: scale(1.1);
    color: #979797;
}

.main-text{
    position: absolute;
    width: 1221px;
    height: 85px;
    left: 371px;
    top: 310px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 85px;
    text-transform: capitalize;
    color: #FFFFFF;
}


.main-button1{
box-sizing: border-box;
position: absolute;
width: 1395px;
height: 103px;
left: 258px;
top: 526px;
background: rgba(255, 255, 255, 0.08);
border: 3px solid rgba(255, 255, 255, 0.07);
border-radius: 5px;
transition: 0.5s;
} .main-button1:hover {transform: scale(1.02);}
.main-button1-a{
position: absolute;
width: 439px;
height: 51px;
left: 306px;
top: 552px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
transition: 0.5s;
pointer-events: none;
}
.main-button1-a2{
    position: absolute;
    width: 25px;
    height: 56px;
    left: 1592px;
    top: 547px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    transition: 0.5s;
    pointer-events: none;
}
.main-button1:hover~.main-button1-a{
    transform: scale(1.1);
}.main-button1:hover~.main-button1-a2{
    transform: scale(1.1);
    left: 1606px;
}

.main-button2{
box-sizing: border-box;
position: absolute;
width: 1395px;
height: 103px;
left: 258px;
top: 668px;
transition: 0.5s;
background: rgba(255, 255, 255, 0.08);
border: 3px solid rgba(255, 255, 255, 0.07);
border-radius: 5px;
}.main-button2:hover {transform: scale(1.02);}
.main-button2-a{
position: absolute;
width: 839px;
height: 51px;
left: 306px;
top: 694px;
transition: 0.5s;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;
pointer-events: none;
color: #FFFFFF;
}
.main-button2-a2{
position: absolute;
width: 25px;
height: 56px;
left: 1592px;
top: 689px;
transition: 0.5s;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
pointer-events: none;
color: #FFFFFF;
}
.main-button2:hover~.main-button2-a{
    transform: scale(1.1);
}.main-button2:hover~.main-button2-a2{
    transform: scale(1.1);
    left: 1606px;
}

.main-button3{
box-sizing: border-box;
position: absolute;
width: 1395px;
height: 103px;
left: 258px;
top: 810px;
background: rgba(255, 255, 255, 0.08);
border: 3px solid rgba(255, 255, 255, 0.07);
border-radius: 5px;
transition: 0.5s;
}.main-button3:hover {transform: scale(1.02);}
.main-button3-a{
position: absolute;
width: 859px;
height: 51px;
left: 306px;
top: 836px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
pointer-events: none;
transition: 0.5s;
}
.main-button3-a2{
position: absolute;
width: 25px;
height: 56px;
left: 1592px;
top: 831px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
pointer-events: none;
color: #FFFFFF;
transition: 0.5s;
}
.main-button3:hover~.main-button3-a{
    transform: scale(1.1);
}.main-button3:hover~.main-button3-a2{
    transform: scale(1.1);
    left: 1606px;
}

.main-button4{
    box-sizing: border-box;
    transition: 0.5s;
    position: absolute;
    width: 1395px;
    height: 103px;
    left: 258px;
    top: 952px;
    background: rgba(255, 255, 255, 0.08);
    border: 3px solid rgba(255, 255, 255, 0.07);
    border-radius: 5px;
}.main-button4:hover {transform: scale(1.02);}
.main-button4-a{
position: absolute;
width: 849px;
height: 51px;
left: 306px;
top: 978px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
transition: 0.5s;
pointer-events: none;
}
.main-button4-a2{
position: absolute;
width: 25px;
height: 56px;
left: 1592px;
top: 973px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
color: #FFFFFF;
transition: 0.5s;
pointer-events: none;
}
.main-button4:hover~.main-button4-a{
    transform: scale(1.1);
}.main-button4:hover~.main-button4-a2{
    transform: scale(1.1);
    left: 1606px;
}

.main-button5{
    transition: 0.5s;
    box-sizing: border-box;
position: absolute;
width: 1395px;
height: 103px;
left: 258px;
top: 1094px;
background: rgba(255, 255, 255, 0.08);
border: 3px solid rgba(255, 255, 255, 0.07);
border-radius: 5px;
}.main-button5:hover {transform: scale(1.02);}
.main-button5-a{
    transition: 0.5s;
    pointer-events: none;
    position: absolute;
width: 889px;
height: 51px;
left: 306px;
top: 1120px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
}
.main-button5-a2{
    transition: 0.5s;
    pointer-events: none;
    position: absolute;
width: 25px;
height: 56px;
left: 1592px;
top: 1115px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
color: #FFFFFF;
}
.main-button5:hover~.main-button5-a{
    transform: scale(1.1);
}.main-button5:hover~.main-button5-a2{
    transform: scale(1.1);
    left: 1606px;
}

.main-button6{
    transition: 0.5s;
    box-sizing: border-box;
position: absolute;
width: 1395px;
height: 103px;
left: 258px;
top: 1236px;
background: rgba(255, 255, 255, 0.08);
border: 3px solid rgba(255, 255, 255, 0.07);
border-radius: 5px;
}.main-button6:hover {transform: scale(1.02);}
.main-button6-a{
    pointer-events: none;
    transition: 0.5s;
    position: absolute;
width: 869px;
height: 51px;
left: 306px;
top: 1262px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
}
.main-button6-a2{
    pointer-events: none;
    transition: 0.5s;
    position: absolute;
width: 25px;
height: 56px;
left: 1592px;
top: 1257px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.main-button6:hover~.main-button6-a{
    transform: scale(1.1);
}.main-button6:hover~.main-button6-a2{
    transform: scale(1.1);
    left: 1606px;
}

.main-button7{
    transition: 0.5s;
    box-sizing: border-box;
position: absolute;
width: 1395px;
height: 103px;
left: 258px;
top: 1378px;
background: rgba(255, 255, 255, 0.08);
border: 3px solid rgba(255, 255, 255, 0.07);
border-radius: 5px;
}.main-button8:hover {transform: scale(1.02);}
.main-button7-a{
    transition: 0.5s;
    pointer-events: none;
    position: absolute;
width: 869px;
height: 51px;
left: 306px;
top: 1404px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
}
.main-button7-a2{
    transition: 0.5s;
    pointer-events: none;
    position: absolute;
width: 25px;
height: 56px;
left: 1592px;
top: 1399px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
color: #FFFFFF;
}
.main-button7:hover~.main-button7-a{
    transform: scale(1.1);
}.main-button7:hover~.main-button7-a2{
    transform: scale(1.1);
    left: 1606px;
}

.footer{
    position: absolute;
width: 1900px;
height: 357px;
left: 0px;
top: 1612px;

background: linear-gradient(79.57deg, rgba(19, 5, 24, 0.07) 10.75%, rgba(119, 89, 243, 0.07) 53.13%, rgba(19, 5, 24, 0.07) 106.55%);
}


.footer-logo{
position: absolute;
width: 42px;
height: 38px;
left: 425px;
top: 1656px;
}
.footer-name{
position: absolute;
width: 104px;
height: 23px;
left: 467px;
top: 1663px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-transform: capitalize;
color: #7759F3;
}
.footer-citata{
    position: absolute;
width: 270px;
height: 75.98px;
left: 425px;
top: 1725.02px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #706C83;
}


.footer-main{
position: absolute;
width: 88px;
height: 56px;
left: 848px;
top: 1647px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 60px;
text-transform: capitalize;
color: #FFFFFF;
transition: 0.5s;
}.footer-main:hover{transform: scale(1.1); color: #b4b4b4;}
.footer-home{
position: absolute;
width: 150px;
height: 40px;
left: 845px;
top: 1692px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-home:hover{transform: scale(1.1);color: #565164;}
.footer-device{
position: absolute;
width: 150px;
height: 40px;
left: 845px;
top: 1732px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-device:hover{transform: scale(1.1);color: #565164;}
.footer-language{
    position: absolute;
width: 150px;
height: 40px;
left: 845px;
top: 1772px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-language:hover{transform: scale(1.1);color: #565164;}


.footer-instructions{
position: absolute;
width: 120px;
height: 56px;
left: 1100px;
top: 1645px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 60px;
text-transform: capitalize;
color: #7759F3;
transition: 0.5s;
}
.footer-3x3{
position: absolute;
width: 140px;
height: 40px;
left: 1101px;
top: 1692px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-3x3:hover{transform: scale(1.1);color: #565164;}
.footer-2x2{
    position: absolute;
    width: 140px;
    height: 40px;
    left: 1101px;
    top: 1732px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83; 
    transition: 0.5s;
}
.footer-2x2:hover{transform: scale(1.1);color: #565164;}
.footer-Piraminx{
    position: absolute;
    width: 140px;
    height: 40px;
    left: 1101px;
    top: 1772px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83; 
    transition: 0.5s;
}
.footer-Piraminx:hover{transform: scale(1.1);color: #565164;}
.footer-Megaminx{
    position: absolute;
    width: 140px;
    height: 40px;
    left: 1101px;
    top: 1812px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83; 
    transition: 0.5s;
}
.footer-Megaminx:hover{transform: scale(1.1);color: #565164;}


.footer-sborka{
position: absolute;
width: 102px;
height: 18px;
left: 1345px;
top: 1665px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-transform: capitalize;
color: #FFFFFF;
transition: 0.5s;
}
.footer-sborka:hover{transform: scale(1.1); color: #b4b4b4;}
.footer-online{
position: absolute;
width: 151px;
height: 40px;
left: 1345px;
top: 1692px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-online:hover{transform: scale(1.1);color: #565164;}
.footer-result{
    position: absolute;
    width: 151px;
    height: 40px;
    left: 1345px;
    top: 1732px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83;
    transition: 0.5s;
}
.footer-result:hover{transform: scale(1.1);color: #565164;}