html{
    height: 1485px;
}
.head-button-main{
    position: absolute;
    width: 59px;
    height: 19px;
    left: 621px;
    top: 52px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    transition: 0.5s;
}
.head-button-main:hover{
    transform: scale(1.1);
    color: #b4b4b4;
}

.head-button-instructions{
position: absolute;
width: 94px;
height: 19px;
left: 722px;
top: 52px;
transition: 0.5s;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-transform: capitalize;
color: #7759F3;
}

.head-button-sborka{
    position: absolute;
    width: 58px;
    height: 19px;
    left: 855px;
    top: 52px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    transition: 0.5s;
}
.head-button-sborka:hover{
    transform: scale(1.1);
    color: #b4b4b4;
}

.head-button-kontakt{
position: absolute;
width: 73px;
height: 19px;
left: 951px;
top: 52px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-transform: capitalize;
transition: 0.5s;
}
.head-button-kontakt:hover{
    transform: scale(1.1);
    color: #979797;
}




.main-instructions{
    position: absolute;
width: 422px;
height: 85px;
left: 375px;
top: 327px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 85px;
text-transform: capitalize;
color: #FFFFFF;
}

.main-box1{
 box-sizing: border-box;
position: absolute;
width: 315.69px;
height: 454.48px;
left: 276px;
top: 543px;
background: rgba(255, 255, 255, 0.03);
border: 1px solid rgba(255, 255, 255, 0.07);
border-radius: 5px;
}
.main-box2{
    position: absolute;
    width: 315.69px;
    height: 454.48px;
    left: 626.77px;
    top: 543px;
    
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 5px;
}
.main-box3{
    box-sizing: border-box;

    position: absolute;
    width: 315.69px;
    height: 454.48px;
    left: 977.54px;
    top: 543px;
    
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 5px;
}
.main-box4{
    box-sizing: border-box;

    position: absolute;
    width: 315.69px;
    height: 454.48px;
    left: 1328.31px;
    top: 543px;
    
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 5px;
}

.main-box-photo1{
    position: absolute;
    width: 268.92px;
    height: 263.65px;
    left: 299.39px;
    top: 568.11px;
    border-radius: 5px;
}
.main-box-photo2{
    position: absolute;
    width: 268.92px;
    height: 263.65px;
    left: 650.15px;
    top: 568.11px;
    
    background: #C4C4C4;
    border-radius: 5px;
}
.main-box-photo3{
    position: absolute;
    width: 268.92px;
    height: 263.65px;
    left: 1000.92px;
    top: 568.11px;
    
    background: #C4C4C4;
    border-radius: 5px;
}
.main-box-photo4{
    position: absolute;
    width: 268.92px;
    height: 263.65px;
    left: 1351.7px;
    top: 568.11px;
    
    background: #C4C4C4;
    border-radius: 5px;
}

.main-box-text1{
    position: absolute;
    width: 240.86px;
    height: 37.66px;
    left: 311.08px;
    top: 858.13px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.main-box-text2{
    position: absolute;
    width: 44.43px;
    height: 37.66px;
    left: 661.85px;
    top: 858.13px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.main-box-text3{
    position: absolute;
    width: 113.42px;
    height: 37.66px;
    left: 1012.61px;
    top: 858.13px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.main-box-text4{
    position: absolute;
    width: 137.97px;
    height: 37.66px;
    left: 1363.39px;
    top: 858.13px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.main-box-button1{
    position: absolute;
    width: 240.86px;
    height: 37.66px;
    left: 311.08px;
    top: 928.43px;
    background: #7759F3;
    box-shadow: 0px 14px 14px rgba(95, 58, 252, 0.18);
    border-radius: 5px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
transition: 0.5s;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} .main-box-button1:hover{transform: scale(1.1);}
.main-box-button2{
    position: absolute;
    width: 240.86px;
    height: 37.66px;
    left: 661.85px;
    top: 928.43px;
    transition: 0.5s;
    background: #7759F3;
    box-shadow: 0px 14px 14px rgba(95, 58, 252, 0.18);
    border-radius: 5px;
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}.main-box-button2:hover{transform: scale(1.1);}
.main-box-button3{
    position: absolute;
    width: 240.86px;
    height: 37.66px;
    left: 1012.61px;
    top: 928.43px;
    transition: 0.5s;
    background: #7759F3;
    box-shadow: 0px 14px 14px rgba(95, 58, 252, 0.18);
    border-radius: 5px;
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}.main-box-button3:hover{transform: scale(1.1);}
.main-box-button4{
    position: absolute;
    width: 240.86px;
    height: 37.66px;
    left: 1363.39px;
    top: 928.43px;
    transition: 0.5s;
    background: #7759F3;
    box-shadow: 0px 14px 14px rgba(95, 58, 252, 0.18);
    border-radius: 5px;
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}.main-box-button4:hover{transform: scale(1.1);}


.footer{
    position: absolute;
width: 1900px;
height: 357px;
left: 0px;
top: 1128px;

background: linear-gradient(79.57deg, rgba(19, 5, 24, 0.07) 10.75%, rgba(119, 89, 243, 0.07) 53.13%, rgba(19, 5, 24, 0.07) 106.55%);
}


.footer-logo{
position: absolute;
width: 42px;
height: 38px;
left: 425px;
top: 1172px;
}
.footer-name{
position: absolute;
width: 104px;
height: 23px;
left: 467px;
top: 1179px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-transform: capitalize;
color: #7759F3;
}
.footer-citata{
    position: absolute;
width: 270px;
height: 75.98px;
left: 425px;
top: 1241.02px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #706C83;
}


.footer-main{
position: absolute;
width: 88px;
height: 56px;
left: 848px;
top: 1163px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 60px;
text-transform: capitalize;
color: #FFFFFF;
transition: 0.5s;
}.footer-main:hover{transform: scale(1.1); color: #b4b4b4;}
.footer-home{
position: absolute;
width: 150px;
height: 40px;
left: 845px;
top: 1208px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-home:hover{transform: scale(1.1);color: #565164;}
.footer-device{
position: absolute;
width: 150px;
height: 40px;
left: 845px;
top: 1248px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-device:hover{transform: scale(1.1);color: #565164;}
.footer-language{
    position: absolute;
width: 150px;
height: 40px;
left: 845px;
top: 1288px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-language:hover{transform: scale(1.1);color: #565164;}


.footer-instructions{
position: absolute;
width: 120px;
height: 56px;
left: 1100px;
top: 1163px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 60px;
text-transform: capitalize;
color: #7759F3;
transition: 0.5s;
}
.footer-3x3{
position: absolute;
width: 140px;
height: 40px;
left: 1101px;
top: 1208px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-3x3:hover{transform: scale(1.1);color: #565164;}
.footer-2x2{
    position: absolute;
    width: 140px;
    height: 40px;
    left: 1101px;
    top: 1248px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83; 
    transition: 0.5s;
}
.footer-2x2:hover{transform: scale(1.1);color: #565164;}
.footer-Piraminx{
    position: absolute;
    width: 140px;
    height: 40px;
    left: 1101px;
    top: 1288px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83; 
    transition: 0.5s;
}
.footer-Piraminx:hover{transform: scale(1.1);color: #565164;}
.footer-Megaminx{
    position: absolute;
    width: 140px;
    height: 40px;
    left: 1101px;
    top: 1328px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83; 
    transition: 0.5s;
}
.footer-Megaminx:hover{transform: scale(1.1);color: #565164;}


.footer-sborka{
position: absolute;
width: 102px;
height: 18px;
left: 1345px;
top: 1179px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-transform: capitalize;
color: #FFFFFF;
transition: 0.5s;
}
.footer-sborka:hover{transform: scale(1.1); color: #b4b4b4;}
.footer-online{
position: absolute;
width: 151px;
height: 40px;
left: 1345px;
top: 1208px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-online:hover{transform: scale(1.1);color: #565164;}
.footer-result{
    position: absolute;
    width: 151px;
    height: 40px;
    left: 1345px;
    top: 1248px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83;
    transition: 0.5s;
}
.footer-result:hover{transform: scale(1.1);color: #565164;}