@font-face {
    font-family: Raleway;
    src: url(Raleway.ttf)
   }
html{
    width: 1900px;
}
body{
margin: 0;
position: relative;
background: linear-gradient(150.57deg, #1E0426 2.97%, #100C3A 25.62%, #130517 51.04%, #050130 72.12%, #0A0426 91.18%);
}
body a{
    text-decoration: none;
}
header a{
text-decoration: none;
color: #FFFFFF;
}

.head-logo{
    position: absolute;
    width: 51px;
    height: 46px;
    left: 204px;
    top: 34px;
}

.head-name{
position: absolute;
width: 166px;
height: 38px;
left: 255px;
top: 38px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 38px;
text-transform: capitalize;
color: #7759F3;
}.head-name a{color: #7759F3;}

.head-search-body{
box-sizing: border-box;
position: absolute;
width: 263px;
height: 48px;
left: 1242px;
top: 35px;
background: rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.07);
border-radius: 5px;
color: #D5D4DA;
}

.head-search-body-button{
position: absolute;
width: 38px;
height: 38px;
left: 1462px;
top: 40px;
background: #7759F3;
border-radius: 5px;
transition: 0.5s;
}
.head-search-body-button-img{
position: absolute;
width: 35px;
height: 35px;
left: 1464px;
top: 41px;
transition: 0.5s;
}
.head-search-body-button-img:hover{
    transform: scale(1.1);
}

.head-user-name{
position: absolute;
width: 126px;
height: 15px;
left: 1540px;
top: 51px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-transform: capitalize;
color: #FFFFFF;
transform: scale(1.2);

}
.head-user-name-ico{
    position: absolute;
    width: 41px;
    height: 41px;
    left: 1665px;
    top: 38px;
} 
.head-vector{
    pointer-events: none;
    position: absolute;
    left: 2.2%;
}