@font-face {
    font-family: Raleway;
    src: url(Raleway.ttf)
   }

html{
    height: 5612px;
}

.head-button-main{
    position: absolute;
    width: 59px;
    height: 19px;
    left: 671px;
    top: 52px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #7759F3;
}

.head-button-instructions{
position: absolute;
width: 94px;
height: 19px;
left: 772px;
top: 52px;
transition: 0.5s;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-transform: capitalize;
}
.head-button-instructions:hover{
    transform: scale(1.1);
    color: #b4b4b4;
}

.head-button-sborka{
    position: absolute;
    width: 58px;
    height: 19px;
    left: 905px;
    top: 52px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    transition: 0.5s;
}
.head-button-sborka:hover{
    transform: scale(1.1);
    color: #b4b4b4;
}

.head-button-kontakt{
position: absolute;
width: 73px;
height: 19px;
left: 1001px;
top: 52px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-transform: capitalize;
transition: 0.5s;
}
.head-button-kontakt:hover{
    transform: scale(1.1);
    color: #979797;
}


.main-text1{
position: absolute;
width: 881px;
height: 85px;
left: 288px;
top: 454px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 85px;
text-transform: capitalize;
color: #FFFFFF;
}

.main-text2{
    position: absolute;
    width: 693px;
    height: 85px;
    left: 288px;
    top: 565px;
    pointer-events: none;
}

.main-text3{
position: absolute;
width: 878px;
height: 21px;
left: 291px;
top: 638px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #706C83;
}

.main-gif{
box-sizing: border-box;
z-index: 5;
position: absolute;
width: 504px;
width: 504px;
left: 1186px;
top: 330px;
pointer-events: none;
}

.Vector2{
position: absolute;
left: -0.9%;
top: 420px;
pointer-events: none;
}

.second-text1{
    position: absolute;
width: 830px;
height: 75px;
left: 545px;
top: 1138px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #FFFFFF;
}

.second-text2{
    position: absolute;
width: 1392px;
height: 224px;
left: 264px;
top: 1344px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}

.second-center{
position: absolute;
width: 245px;
height: 69px;
left: 845px;
top: 1699px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}

.second-cube1{
    position: absolute;
width: 388px;
height: 382px;
left: 400px;
top: 1780px;
}

.second-center-text{
    position: absolute;
width: 811px;
height: 380px;
left: 845px;
top: 1792px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 47px;

color: #FFFFFF;
}

.second-cube2{
    position: absolute;
width: 388px;
height: 382px;
left: 400px;
top: 2384px;
}

.second-ugl{
position: absolute;
width: 245px;
height: 69px;
left: 845px;
top: 2303px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}

.second-center-text2{
    position: absolute;
    width: 811px;
    height: 389px;
    left: 845px;
    top: 2396px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    
    color: #FFFFFF;  
}

.second-cube3{
    position: absolute;
width: 388px;
height: 382px;
left: 400px;
top: 2988px;
}

.second-rebro{
    position: absolute;
width: 245px;
height: 69px;
left: 845px;
top: 2916px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}

.second-center-text3{
    position: absolute;
width: 811px;
height: 386px;
left: 845px;
top: 3009px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 47px;

color: #FFFFFF;
}

.third-text{
    position: absolute;
width: 1392px;
height: 288px;
left: 264px;
top: 3526px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}

.language{
    position: absolute;
width: 477px;
height: 75px;
left: 722px;
top: 3945px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #FFFFFF;
}


.R{
    position: absolute;
width: 624px;
height: 84px;
left: 287px;
top: 4202px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}
.L{
    position: absolute;
width: 594px;
height: 84px;
left: 287px;
top: 4320px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}
.U{
    position: absolute;
width: 638px;
height: 84px;
left: 287px;
top: 4438px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}
.D{
    position: absolute;
width: 638px;
height: 84px;
left: 287px;
top: 4556px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}
.F{
    position: absolute;
width: 638px;
height: 84px;
left: 287px;
top: 4674px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}
.B{
    position: absolute;
width: 638px;
height: 84px;
left: 287px;
top: 4792px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}

.second-R{
position: absolute;
width: 58px;
height: 84px;
left: 1062px;
top: 4151px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}
.second-R-text{
    position: absolute;
width: 581px;
height: 166px;
left: 1062px;
top: 4235px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}

.third-R{
    position: absolute;
width: 58px;
height: 84px;
left: 1062px;
top: 4411px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}
.third-R-text{
    position: absolute;
width: 581px;
height: 193px;
left: 1062px;
top: 4505px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}
.R2{
    position: absolute;
width: 83px;
height: 84px;
left: 1062px;
top: 4691px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}
.R2-text{
    position: absolute;
width: 581px;
height: 137px;
left: 1062px;
top: 4775px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}

.third-button-instructions{
position: absolute;
width: 397px;
height: 78px;
left: 762px;
top: 5045px;
background: #7759F3;
box-shadow: 0px 14px 14px rgba(119, 89, 243, 0.15);
border-radius: 5px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: capitalize;
transition: 0.5s;
color: #FFFFFF;
}
.third-button-instructions:hover{
    transform: scale(1.1);
    color: #b4b4b4;
}

.footer{
    position: absolute;
width: 1900px;
height: 357px;
left: 0px;
top: 5255px;

background: linear-gradient(79.57deg, rgba(19, 5, 24, 0.07) 10.75%, rgba(119, 89, 243, 0.07) 53.13%, rgba(19, 5, 24, 0.07) 106.55%);
}


.footer-logo{
position: absolute;
width: 42px;
height: 38px;
left: 425px;
top: 5299px;
}
.footer-name{
position: absolute;
width: 104px;
height: 23px;
left: 467px;
top: 5306px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-transform: capitalize;
color: #7759F3;
}
.footer-citata{
    position: absolute;
width: 270px;
height: 75.98px;
left: 425px;
top: 5368.02px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #706C83;
}


.footer-main{
position: absolute;
width: 88px;
height: 56px;
left: 848px;
top: 5290px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 60px;
text-transform: capitalize;
color: #7759F3;
}
.footer-home{
position: absolute;
width: 150px;
height: 40px;
left: 845px;
top: 5335px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-home:hover{transform: scale(1.1);color: #565164;}
.footer-device{
position: absolute;
width: 150px;
height: 40px;
left: 845px;
top: 5375px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-device:hover{transform: scale(1.1);color: #565164;}
.footer-language{
    position: absolute;
width: 150px;
height: 40px;
left: 845px;
top: 5415px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-language:hover{transform: scale(1.1);color: #565164;}


.footer-instructions{
position: absolute;
width: 120px;
height: 56px;
left: 1100px;
top: 5290px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 60px;
text-transform: capitalize;
color: #FFFFFF;
transition: 0.5s;
}
.footer-instructions:hover{transform: scale(1.1); color: #b4b4b4;}
.footer-3x3{
position: absolute;
width: 140px;
height: 40px;
left: 1101px;
top: 5334px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-3x3:hover{transform: scale(1.1);color: #565164;}
.footer-2x2{
    position: absolute;
    width: 140px;
    height: 40px;
    left: 1101px;
    top: 5375px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83; 
    transition: 0.5s;
}
.footer-2x2:hover{transform: scale(1.1);color: #565164;}
.footer-Piraminx{
    position: absolute;
    width: 140px;
    height: 40px;
    left: 1101px;
    top: 5415px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83; 
    transition: 0.5s;
}
.footer-Piraminx:hover{transform: scale(1.1);color: #565164;}
.footer-Megaminx{
    position: absolute;
    width: 140px;
    height: 40px;
    left: 1101px;
    top: 5455px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83; 
    transition: 0.5s;
}
.footer-Megaminx:hover{transform: scale(1.1);color: #565164;}


.footer-sborka{
position: absolute;
width: 102px;
height: 18px;
left: 1345px;
top: 5306px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-transform: capitalize;
color: #FFFFFF;
transition: 0.5s;
}
.footer-sborka:hover{transform: scale(1.1); color: #b4b4b4;}
.footer-online{
position: absolute;
width: 151px;
height: 40px;
left: 1345px;
top: 5331px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
color: #706C83;
transition: 0.5s;
}
.footer-online:hover{transform: scale(1.1);color: #565164;}
.footer-result{
    position: absolute;
    width: 151px;
    height: 40px;
    left: 1345px;
    top: 5375px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #706C83;
    transition: 0.5s;
}
.footer-result:hover{transform: scale(1.1);color: #565164;}